body {
    margin: 0;
    background: #29335c;
}

.container {
    margin: 15% 15%;
    color: white;  
    font-family: 'Dosis', sans-serif;
}

.heading{
    margin: 0;
    padding: 0;
    font-weight: 600px;
}

#rd-pwd {
    color: greenyellow;
}

#quote {
    margin-top: 0px;
    color: grey;
    margin-bottom: 50px;
}

.btn {
    text-align: center;
    width: 47%;
    margin-right: 10px;
    padding: 9px 17px 9px 15px;
    border: none;
    border-radius: 5px;
    /* background: #e4572e; */
    background: yellowgreen;
    color: black;
    font-weight: bolder;
}

.btn:hover{
    background: rgb(17, 255, 203);
    color: #711f06;
    cursor: pointer;
    transition: 0.3s ease;
}

.line{
    border-bottom: 0.1px solid #77857b;
    margin: 30px 0 20px 0;
}

#pwd-box{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.pwd {
    margin: 0;
    width: 46%;
    height: 50px;
    border: none;
    font-weight: bolder;
    border-radius: 50px;
    background: #3a435e;
    text-align: center;
}

.pwd-content{
    /* margin: 5px; */
    top: 50%;
}